*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;;
}
/* navlink part starts */
header{
  display: flex;
  background: black;
  height: 10vh;
  align-items: center;
}
.navlinks{
  display: flex;
  text-decoration: none;
  flex: 1;
}
.navlink{
  color: white;
  text-decoration: none;
  margin-left: 1.7vw;
  font-size: 1.2rem;
}
.navlink:hover{
  color:rgb(255, 58, 58);
  transition: 0.1s;
}
/* navlink ends here + about starts here*/
.resume{
  background-image: linear-gradient(to bottom right,rgba(171, 171, 209, 0.8),rgb(190, 190, 226),rgb(201, 201, 238),rgb(235, 235, 235),rgba(205, 205, 241, 0.7),rgb(154, 154, 207));  
}
.abt-cont{
  padding: 5% 0%;
  width: 80%;
  margin: auto;
  display: flex;
  align-items: center;
}
.abt-txt{
  box-sizing: content-box;
  flex: 1;
  font-size: 1.3rem;
  padding: 2% 0% 2% 3%;
  border: 1px dotted black;
}
.abt-hdr{
padding: 0px 0px 15px 0px;
}
.abt-me{
  margin-left: 40px;
}
.abt-name{
  background: linear-gradient(to right,rgb(48, 48, 48),rgb(92, 92, 92),rgb(253, 37, 37));
  color: transparent;
  -webkit-background-clip: text;
}
.abt-role{
  background: linear-gradient(to right,rgba(56, 56, 56,0.7),rgb(128, 128, 128,0.7),rgb(253, 37, 37,0.7));
  color: transparent;
  -webkit-background-clip: text;
}
.abt-pic{
  margin-left: 40px;
  display: flex;
  flex-direction: column;
}
.dl-resume{
display: none;
}
.pic{
  height: 375px;
  filter: drop-shadow(4px 3px 7px grey);
  animation: bounce 1s ease;

}
.pic:hover{
  transform: scale(1.1);
  transition: .2s;
  cursor: pointer;
}
/*about ends + projects start*/
.projects,.service{
  margin-top: 10vh;
}
.projects-cont,.service-cont{
  width: 90%;
  margin:auto;
  display: flex;
  flex-direction: column;
}

.projects-header,.service-header{
  color: rgb(224, 47, 47);
  font-size: 1.5rem;
  letter-spacing: .8rem;
  border-bottom: 2px solid;
  width: 18rem;
}
.proj-cont{
  width: 88%;
  margin:auto;
  padding-top: 5%;
  display: flex;
  flex-direction: row;
  padding-bottom: 5%;
}
.proj-cont-rr{
  width: 88%;
  margin:auto;
  padding-top: 5%;
  display: flex;
  flex-direction: row-reverse;
  padding-bottom: 5%;
}

.proj-txt{
   width: 60%;
}
.proj-txt-rr{
  width: 60%;
  margin-left: 10rem;
}
.proj-title{
  color: black;
  letter-spacing: .3rem;
  font-size: 1.7rem;
}
.desc-txt{
  margin-left: 20px;
}
.desc-p{
  margin-top: 10px;
  letter-spacing: .15rem;
  font-size: 1.15rem;
  text-indent: 50px;
}
.desc-techstack{
  margin-top: 10px;
  display: flex;
  align-items: center;
}
.tech-header{
  margin-right: 10px;
}
.tech-used{
  letter-spacing: .12rem;
}
.desc-img{
  width: 40%;
}
.proj-img{
  width: 27rem;
  margin-left: 50px;
  margin-top: -50px;
}
.proj-img-rr{
  width: 27rem;
  margin-left: 30px;
  margin-top: -50px;
}
.desc-btns{
  margin-top: 30px;
 display: flex;
 justify-content: center; 
}
.desc-btns button{
  margin-left: 20px;
  padding: .8rem 3rem;
  font-size: 1.3rem;
}
.desc-btns button:hover{
  cursor: pointer;
  transform: scale(1.1);
  transition: .1s;
}
.git{
  border: 4px solid black;  
  background: transparent;
  display: flex;
}
.git-btn-logo{
  margin-left: -10px;
  margin-right: 10px;
}
.pro-contact{
  border: none;
  color: white;
  background:black;
}
.hlink{
  color: blue;
  text-decoration: underline;
}
.hlink:hover{
  cursor: pointer;
}
/*projects ends here and services starts here */
.service-desc{
  display: flex;
  flex-direction: column;
}
.service-desc-list{
  padding: 3% 0%;
  margin: auto;
  font-size: 1.8rem;
  letter-spacing: .3rem;
}
.service-list{
  padding-top: 10px;
}
.disclamier{
  font-size: .9rem;
  padding-bottom: 3%;
}
.disclamier-head{
  color: rgb(235, 84, 84);
}
.disclamier-desc{
  color: grey;
}
.knowme{
  padding-top: 30px;
  display: flex;padding-bottom: 200px;
  align-items: center;
  flex-direction: column;
}
.knowme-header{
  padding-bottom: 10px;
  font-size: 2rem;
}
.socialicons{
  width: 4rem;
  padding-left: 1rem;
  -webkit-box-reflect: below .2rem -webkit-gradient(linear, right top, right bottom, from(transparent), to(rgba(255, 255, 255, 0.2)));
}
.socialicons:hover{
  transform: scale(1.3);
  cursor: pointer;
  -webkit-box-reflect: below .1rem -webkit-gradient(linear, right top, right bottom, from(transparent), to(rgba(255, 255, 255, 0.4)));
  transition: .15s;
}
/*animations below*/
@keyframes bounce{
  0%{
    opacity:.6;
    transform: translateY(-100px);
  }
  70%{
    opacity:1;
    transform: translateY(0px);
  }
  90%{
    opacity:1;
    transform: translateY(-20px);
  }
  100%{
    opacity:1;
    transform: translateY(0px);
  }
}
/*mob screen here */
@media screen and (max-width:1024px){
  html,body{
    overflow-x: hidden;
  }
  header{
    display: flex;
    background: black;
    height: 10vh;
    flex-direction: row-reverse;
  }
  .navlinks{
    display: flex;
    text-decoration: none;
    flex: 1;
  }
  .navlink{
    color: white;
    text-decoration: none;
    margin-left: 1vw;
    font-size: .8rem;
    padding-left: .3vw;
    padding-right: 2.5vw;
    border-right: 1px solid green;
  }
  #contact{
    color:rgb(255, 58, 58);
  }
  .navlink:hover{
    color:rgb(255, 58, 58);
    transition: 0.1s;
  }
  .resume{
    background-image: linear-gradient(to bottom right,rgba(171, 171, 209, 0.8),rgb(190, 190, 226),rgb(201, 201, 238),rgb(235, 235, 235),rgba(205, 205, 241, 0.7),rgb(154, 154, 207));  
  }
  .abt-cont{
    width: 90%;
    margin:auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .abt-txt{
    margin-top: 30px;
    box-sizing: content-box;
    flex: 1;
    font-size: 1rem;
    padding: 2% 0% 2% 3%;
    border: 1px dotted black;
  }
  .abt-hdr{
  padding: 0px 0px 15px 0px;
  }
  .abt-name{
    background: linear-gradient(to right,rgb(48, 48, 48),rgb(92, 92, 92),rgb(253, 37, 37));
    color: transparent;
    -webkit-background-clip: text;
  }
  .abt-role{
    background: linear-gradient(to right,rgba(56, 56, 56,0.7),rgb(128, 128, 128,0.7),rgb(253, 37, 37,0.7));
    color: transparent;
    -webkit-background-clip: text;
  }
  .abt-pic{
    display: flex;
    flex-direction: column;
  }
  .pic{
    display: none;
  }
  .dl-resume{
    display: flex;
    margin-top: 10px;
    background: transparent;
    border:2px solid blue;
    padding: 10px 30px;
    color: blue;
    justify-content: center;
  }
  .abt-cont{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .projects{
    margin-top: 5vh;
  }
  .projects-cont{
    width: 100%;
    display: flex;
  }
  .projects-header{
    color: rgb(224, 47, 47);
    font-size: 1rem;
    margin-left: 5%;
    letter-spacing: 0.5rem;
  }
  .proj-cont,.proj-cont-rr{
    padding-top: 5%;
    display: flex;
    padding-bottom: 15%;
    flex-direction: column-reverse;
  }
  .proj-txt,.proj-txt-rr{
    margin-top: 2rem;
    width: 100%;
    margin-left: 0px;
  }
  .desc-txt{
    margin-left:0px;
    viewport-fit: cover;
    text-align: justify;
  }
  .desc-techstack{
    display: flex;
    flex-direction: column;
    text-align: center;
    size: cover;
  }
  .proj-img,.proj-img-rr{
    justify-content: center;
    margin-top: 7%;
    width: 190%;
  }
  .git{
    margin-left: 0px;
  }
  .desc-btns button{
    padding: 10px 20px;
  }
  .hlink{
    font-size: .8rem;
  }
  .service-desc-list{
    width: 90%;
    margin: auto;
    padding: 7% 0% 7% 0%;
  }
  .service-list{
    font-size: 1rem;
  }
  .disclamier-head{
    font-size: 1rem;
  }
  .disclamier-desc{
    font-size: .7rem;
  }
  .socialicons{
    width: 3rem;
    padding-left: .2rem;
    -webkit-box-reflect: below .2rem -webkit-gradient(linear, right top, right bottom, from(transparent), to(rgba(255, 255, 255, 0.2)));
  }
  .socialicons:focus{
    transform: scale(1.2);
    -webkit-box-reflect: below .1rem -webkit-gradient(linear, right top, right bottom, from(transparent), to(rgba(255, 255, 255, 0.4)));
    transition: .15s;
  }
}